.footer {
  min-height: 200px;
  background: rgb(0, 170, 189);
  background: linear-gradient(
    56deg,
    rgba(0, 170, 189, 1) 0%,
    rgba(2, 134, 195, 1) 0%,
    rgba(39, 57, 133, 1) 100%
  );
  padding: 1rem;
}
.footer .footer-logo img {
  max-height: 116px;
}
.footer .footer-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}
.footer .footer-text a {
  color: #7ff5ff;
  text-decoration: none;
  font-weight: 700;
}
.footer .footer-text a:hover {
  text-decoration: underline;
}
