@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
:root {
  --color-primary: #0b75b7;
  --color-secondary: #00a6be;
}
.theme_dark {
  background-color: #252a40;
  color: #01c6e4;
}
.theme_light {
  background-color: #eef9ff;
}
